/*
nav{
    position: relative
    height: 70px;
    color: red;
    background-color: lavender;
}
nav h1{
    float: left;
}
nav .resp{
    float: right;
}
nav .resp form{
    display: inline;
}
*/
/*

section{
    margin: 0 auto;
    width: 80%;
    background-color: antiquewhite;
}
*/
